/* home.html */
.title{
    text-align: center;
    margin: 20px;
    font-weight: 800;
}
.main_img{
    width:300px;
}
.main_img img{
    width:100%;
}

/* ask.html */
.ask_container{
    width:100%;
    display: flex;
}
.side_box{
    width:25%;
}
