/* 전체 공유 css */
* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	color: #4b4b4b;
	line-height: 130%;
}

/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@font-face {
	font-family: 'TmoneyRoundWindExtraBold';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face { font-family: 'Binggrae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); font-weight: normal; font-style: normal; }
      

/* base.html - navbar */
header {
	border: 1px solid rgba(0, 0, 0, 0.1);
}
header .nav_container {
	max-width: 1200px;
	height: 65px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	align-items: center;

}
header .logo_container {
	width: 100px;
}
header .hor_category {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-left: 30px;
	align-items: center;
}
header .hor_category .navbar {
	width: 100%;
	display: flex;
}
header .hor_category .nav-item {
	margin: 0 15px;
}
header .ham_container, header .ver_category_box, header .x_container {
	display: none;
}
.blind {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 8;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
	display: none;
}

/* footer */
footer {
	width: 100%;
	background: #4b4b4b;
}
footer .info_box {
	color: white;
	width: 200px;
	display: flex;
	justify-content: space-between;
	margin: 10px 0;
}
footer .footer_container .main_box {
	margin: 10px 0;
}
footer .footer_container {
	max-width: 1200px;
	height: 160px;
	margin: 0 auto;
	padding: 20px;
	display: flex;
	flex-direction: column;
	/* align-items: center;    */
}

/* color */
/* 
메인계열
#d4463b - 메인
#a13931 - 메인 hover
#ee767a - 서브
#fefafa - 바탕 (section)

검정계열
#4b4b4b - 기본
#979797 - 서브

*/
.h_color {
	color: #d4463b;
}
.sh_color{ 
	color: #ee767a;
}
.b_color{
	color:#fefafa;
}
.s_color {
	color: #979797;
}
.w_color {
	color: white;
}
input::placeholder {
	color: #979797;
}
input:focus {
	outline: none;
}

/* font 설정 */
.h_font{
	/* font-family: 'TmoneyRoundWindExtraBold'; */
	font-family: 'Binggrae';
}
.spacing{
	letter-spacing: 3px;
}
.xxl_title {
	font-size: 40px;
	font-weight: 800;
}
.xl_title {
	font-size: 30px;
}
.l_title {
	font-size: 20px;
}
.ll_text {
	font-size: 20px;
}
.l_text {
	font-size: 16px;
}
.m_text {
	font-size: 14px;
}
.s_text {
	font-size: 10px;
}
.b_text {
	font-weight: bold;
}
.text_h {
	line-height: 120%;
}
.page_title{
	padding-bottom: 20px;
}

/************ 기본 설정 *************/
.display {
	display: block !important;
}
section {
	background-color: #fefafa;
}
.main_container {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
	min-height: calc(100vh - 57px);
}

/* 이미지사이즈 */
img {
	width: 100%;
}

/************ 반응형 *************/
@media (max-width: 800px) {
	header .ham_container {
		display: block;
	}
	header .hor_category {
		display: none;
	}
	.ver_category .ham_container, .ver_category .x_container {
		width: 30px;
		margin: 12px 20px 0 0;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
    }
	.ver_category_box {
		width: 240px;
		height: 100vh;
		background: white;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9;
	}
	.ver_category_box .navbar {
		padding: 55px 50px;
	}
	.ver_category_box .nav-item {
		padding: 20px 0;
		font-size: 20px;
	}
}