{% extends 'base.html' %}
{% block content %}
{% load static %}

<section>
{% if user.is_authenticated %}
<div class="main_container">
    <div class="mypage_container">
        <div class="profile_container">
            <div class="profile_box">
                <div class="profile_img">
                    <img src="{% static 'img/logo_big.jpg' %}" alt="프로필이미지">
                </div>
                <div class="id_box">
                    <div class="user_id xxl_title">
                        {{ user.username }}
                    </div>
                    <a href="{% url 'profile_update' %}" class="m_text edit">프로필 편집</a><br>      
                </div>
                <div class="profile_intro">
                    한줄소개
                    {{ profile.introduction }}
                </div>    
            </div>
            <div class="btn-wrapper m_btn h_color">
                <a href="{% url 'payment' %}" class="l_title">포인트 충전하기</a>
            </div>
        </div>
        <div class="question_container">
            <article>
                <div class="question_box">
                    <div class="question_title m_text">파이썬 질문</div>
                    <div class="question_title s_text">도저히 못 풀겠습니다...</div>
                </div>
                <div class="question_box">
                    <div class="question_title m_text">파이썬 질문</div>
                    <div class="question_title s_text">도저히 못 풀겠습니다...</div>
                </div>
                <div class="question_box">
                    <div class="question_title m_text">파이썬 질문</div>
                    <div class="question_title s_text">도저히 못 풀겠습니다...</div>
                </div>
                <div class="question_box">
                    <div class="question_title m_text">파이썬 질문</div>
                    <div class="question_title s_text">도저히 못 풀겠습니다...</div>
                </div>
            </article>
        </div>
    </div>
</div>
{% else %}
<p>먼저 로그인해주세요 : )</p>
{% endif %}
</section>

{% endblock %}