{% extends 'accounts_base.html' %}
{% block content %}
{% load static %}

{% if user.is_authenticated %}
<div class="mypage_container">
    <div class="profile_container">
        <div class="profile_box">
            <div class="profile_img">
                <div class="profile_img_box">
                    {% if profile.img %}
                    <img src="{{ user.img }}" alt="프로필이미지">
                    {% else %}
                    <img src="{% static 'img/main_logo.png' %}" alt="프로필이미지">
                    {% endif %}
                </div>
                <a href="{% url 'profile_update' %}" class="m_text s_color edit"><img src="{% static 'img/setting.png' %}" alt="프로필편집"></a><br>
            </div>
            <div class="id_box">
                <div class="user_id">
                    <span class="l_title">{{ user.name }}</span> <!-- 사용자 이름 -->
                    <span class="l_text">{{ user.username }}</span> <!-- 아이디 -->
                </div>
            </div>
            <div class="profile_intro">
                {% if profile.introduction %}
                {{ profile.introduction }}
                {% else %}
                한 줄 소개가 없습니다.
                {% endif %}
            </div>
        </div>
        <div class="point_containter">
            <div class="current_point b_text">
                ⓟ 0 포인트
            </div>
            <div class="point_btn_container">
                <div class="btn-wrapper m_btn h_color">
                    <a href="{% url 'payment' %}" class="l_text">포인트 충전하기</a>
                </div>
            </div>    
        </div>
    </div>
    <div class="question_container">
        <span class="xl_title q_title">지난 질문들</span>
        <ol>
            <li>
                <div class="question_box">
                    <span class="question_title m_text">파이썬 질문</span>
                    <span class="question_content s_text">도저히 못 풀겠습니다...</span>
                </div>
            </li>
            <li>
                <div class="question_box">
                    <span class="question_title m_text">파이썬 질문</span>
                    <span class="question_content s_text">도저히 못 풀겠습니다...</span>
                </div>
            </li>
            <li>
                <div class="question_box">
                    <span class="question_title m_text">파이썬 질문</span>
                    <span class="question_content s_text">도저히 못 풀겠습니다...</span>
                </div>
            </li>

            {% for post in posts_list %}
            {% if user == post.writer %}
            <li>
                <div class="question_box">
                    <span class="question_title m_text"><a
                            href="{% url 'detail' pk=post.pk %}">{{ post.title }}</a></span>
                    <span class="question_content s_text">{{ post.body }}</span>
                    <span class="s_text s_color">{{ post.pub_date }}</span>
                    <span class="s_text s_color">작성자 : {{ post.writer }}</span>
                </div>
            </li>
            {% endif %}
            {% endfor %}
            
        </ol>
    </div>
</div>

{% else %}
<p>먼저 로그인해주세요 : )</p>
{% endif %}

{% endblock %}