{% extends 'main_base.html' %} {% block content %} {% load static %}
<div class="about_team_container">
	<div class="slogan page_title h_color">대학생은 질문 어디서 해? 우리끼리 하면 되지!</div>
	<div class="page_title">BRAND STORY</div>

	<div class="content">
		아무리 책을 뒤져보고 구글링을 해봐도 모르겠는데 과제 제출 기한은 코 앞이어서 난감했던 경험이 누구나 한 번 쯤은 있었을 것입니다. 매번 교수님에게 연락드려서 질문할 수도 없고 내향적인 성격이라면
		수업시간에 모두가 보는 앞에서 물어보기도 쉽지 않죠. 족보를 찾아도 해설이 없고 풀이를 찾더라도 수업과 전혀 다른 방식으로 풀어주는 경우가 많습니다.
	</div>
	<div class="content">
		대학생 지식 공유 플랫폼 '우리끼리'는 이러한 학생들의 고충을 그 누구보다 잘 알고 이를 조금이라도 덜어주고픈 마음에서 시작되었습니다. 지금 내가 듣는 수업에 대한 질문에 가장 잘 답변해 줄 수 있는
		사람은 의외로 가까이 있을수도 있다는 아이디어를 발단으로 같은 학교 학생들이 서로 자유롭게 질문을 주고 받을 수 있는 플랫폼을 기획하게 되었습니다. 내가 듣는 수업을 들어본 선배는 실제로 '같은
		학습자'의 입장에서 내가 모르는 문제를 가장 효과적으로 '나의 눈높이'에서 설명해줄 수 있는 좋은 선생님입니다.
	</div>
	<div class="content">
		'우리끼리'는 또한 협력을 통한 학습을 지향합니다. '우리끼리'에서는 나에게 가장 적합한 솔루션을 줄 수 있는 학교 선배와 소통하며 공부할 수 있습니다. 저희 '우리끼리'는 협력 학습의 장으로 역할함으로써
		서비스를 이용하는 모든 학생들이 각자 원하는 목표 달성에 한발짝 더 가까이 다가갈 수 있도록 돕고 싶습니다.
	</div>

	<div class="page_title">팀 메티스</div>
	<div class="content">
		메티스는 서강대 소셜벤처 캡스톤 디자인 수업을 통해 만난 3명의 대학생이 탄생시킨 회사입니다. 본격적으로 사업을 진행시키면서 1명이 추가로 합류해 현재 4명이 서강대 동기가 함께 기존 한국 대학 교육의
		혁신이라는 비전을 갖고 서비스를 기획하고 만들어나가고 있습니다. 사명인 메티스는 그리스 신화 속 여신으로 지혜를 상징하는데요, 자사는 자유롭고 편리한 지식의 공유라는 가치를 중심으로 누구나 자유롭게
		지식과 혜안을 공유하고 확장할 수 있는 서비스를 만들어갑니다.
	</div>
	<div class="content">
		현재 메티스는 학교기반 대학생 지식공유 플랫폼인 '우리끼리'를 기획하고 운영하고 있습니다. '우리끼리'는 국내 이공계열과 상경계열 학부생들이 시공간의 제약없이 내가 듣는 수업을 들어본 학교 선배에게
		질문할 수 있는 학습 플랫폼입니다. '우리끼리'는 아래와 같은 3가지 핵심가치를 지향합니다.
	</div>
	<div class="content b_text">
		1) 심리적, 물리적 장벽을 낮추는 24/7 온라인 튜터링 <br>
		2) 학생간 상호 협력을 통한 집단지성의 실현 <br>
		3) 기존 교육의 빈큼을 메꾸는 비대면 학습 커뮤니티 <br>
	</div>
	<div class="content">
		이 모든 가치의 중심에는 학교 기반이라는 점이 있습니다. 학교 선배와의 매칭을 통해 학생들의 소속감과 협력을 증진시키고 개인적 배경 혹은 특성에 따른 교육 격차 없는 세상을 만드는 것이 저희의
		목표입니다.
	</div>

	<div class="page_title ">팀 연혁</div>
	<div class="content b_text">
		- 2020년 10월 서강 Startup Audition 우수상 수상 <br>
		- 2020년 9월 서강 Startup Idea Competition 특별상 수상 <br />
		- 2020년 8월 2020 비대면 분야 예비 창업 패키지 선정 <br>
		- 2020년 7월 서강비즈니스센터 7-UP 창업멘토링 기업 선정 <br />
		- 2020년 7월 설립 <br />
	</div>

	<div class="page_title">팀원소개</div>

	<div class="team_member">
		<div class="mem">
			<div class="l_title b_text h_font">오정학</div>
			<div class="profile_img"><img src="{% static 'img/oh.jpg' %}" alt="프로필이미지" /></div>
			<div class="role b_text">대표 / 개발</div>
			<div class="major n_text s_color">서강대 컴퓨터공학 <br> 스타트업 연계전공</div>
			<div class="content">
				정신차려보니 4학년이네요... 성적 관리하고 싶으신 분은 우리끼리를 꼭 사용하세요!
			</div>
		</div>
		<div class="mem">
			<div class="l_title b_text h_font">김지언</div>
			<div class="profile_img"><img src="{% static 'img/kim.jpg' %}" alt="프로필이미지" /></div>
			<div class="role b_text">전략기획 / 운영</div>
			<div class="major n_text s_color">서강대 커뮤니케이션학 <br> 경영학</div>
			<div class="content">
				저 같은 아싸시면, 우리끼리가 가뭄의 단비같은 존재가 될 것입니다.
			</div>
		</div>
		<div class="mem">
			<div class="l_title b_text h_font">이민주</div>
			<div class="profile_img"><img src="{% static 'img/min.jpg' %}" alt="프로필이미지" /></div>
			<div class="role b_text">개발 / 서비스기획</div>
			<div class="major n_text s_color">서강대 경영학 <br> 컴퓨터공학 </div>
			<div class="content">
				저처럼 시험기간 직전에 벼락치기를 해서 질문 기회를 늘 놓치는 분이라면 적극 추천드립니다~~ : ) 
			</div>
		</div>
		<div class="mem">
			<div class="l_title b_text h_font">이미정</div>
			<div class="profile_img"><img src="{% static 'img/jung.jpeg' %}" alt="프로필이미지" /></div>
			<div class="role b_text">개발 / 디자인</div>
			<div class="major n_text s_color">서강대 신문방송학 <br> 융합소프트웨어 연계전공 </div>
			<div class="content">
				졸업을 하고 돌이켜보니 대학을 다니면서 수업시간에 질문을 해 본적이 한 번도 없네요... 우리끼리가 있었더라면...!
			</div>

		</div>
	
	</div>

</div>

{% endblock %}
