{% extends 'main_base.html' %} {% block content %} {% load static %}
<div class="page_title">BRAND STORY</div>

<div>
	아무리 책을 뒤져보고 구글링을 해봐도 모르겠는데 과제 제출 기한은 코 앞이어서 난감했던 경험이 누구나 한 번 쯤은 있었을 것입니다. 매번 교수님에게 연락드려서 질문할 수도 없고 내향적인 성격이라면
	수업시간에 모두가 보는 앞에서 물어보기도 쉽지 않죠. 족보를 찾아도 해설이 없고 풀이를 찾더라도 수업과 전혀 다른 방식으로 풀어주는 경우가 많습니다. 
</div>
<br>
<div>
	'우리끼리'는 이러한 학생들의 고충을 그 누구보다 잘
	알고 이를 조금이라도 덜어주고픈 마음에서 시작되었습니다. 지금 내가 듣는 수업에 대한 전문가는 의외로 가까이 있을수도 있다는 아이디어를 발단으로 저희는 수업을 들어본 선배가 알려준다면 같은 학습자의
	입장에서 가장 적절한 풀이를 통해 효과적으로 이해할 수 있다는 점에 착안했습니다.
</div>
<br>
<div>
	'우리끼리'는 협력을 통한 학습을 지향합니다. '우리끼리'에서는 나에게 가장 적합한 솔루션을 줄 수 있는 학교 선배와 자유롭게 소통하며 공부할 수 있습니다. 저희는 협력 학습의 장으로 역할함으로써
	우리끼리를 이용하는 모든 학생들이 원하는 미래에 한발짝 더 가까이 다가갈 수 있도록 돕고 싶습니다.
</div>

<div class="page_title">만든 사람들</div>

<div>오정학</div>
<div>김지언</div>
<div>이미정</div>
<div>이민주</div>


{% endblock %}
