{% extends 'main_base.html' %} {% block content %} {% load static %}
<div class="page_title">서비스 이용방법</div>

<div class="content_container">
    <div class="b_text l_title h_font">멘티회원 : 질문하기</div>
    <br>
    <div>
        1. 질문하기 버튼을 누르고, 모르는 문제를 입력해주세요. 질문을 할 때는 <span class="b_text h_color"><a href="https://www.notion.so/70efa718aa6b41bfab04176d0305326b">질문 가이드라인</a></span>에 따라 최대한 구체적으로 작성해주세요. 필요하다면 첨부기능을 이용해서 문제 사진을 업로드해주세요. <br>
        2. 질문에 해당하는 과목을 선택하신 뒤 플러스 버튼을 이용해 원하는 커피 잔 수를 입력해주세요. (최소 한 잔 입력해주세요.) <br>
        3. 질문하기 버튼을 눌러주시면 업로드가 완료됩니다. <br>
        4. <a href="{% url 'ask' %}" class="b_text">질문 모두보기</a>에서 다른 멘티가 올린 질문도 볼 수 있습니다. (질문만 공개되고 답변은 해당 답변 질문자만 열람 가능합니다!) <br>
        5. 질문에 대한 답변은 <a href="{% url 'mypage' %}" class="b_text">마이 페이지</a>에서 확인 가능합니다.
    </div>    
</div>

<div class="content_container">
    <div class="b_text l_title h_font">멘토회원 : 답변하기</div>
    <br>
    <div>
        1. 멘토로 로그인해주세요. <br>
    2. 질문 모두보기에서 멘토링 하기로 선택한 과목에 해당하는 질문 중 답변을 원하는 질문을 찾아 답변을 달아주세요. <br>
    3. 답변을 할 때는  <span class="b_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>에 따라 최대한 구체적으로 작성해주세요.  
    <span class="b_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>의 기준에 미달되거나 멘티의 질문에 대한 충분한 풀이와 답변이 제공되지 않았다고 판단될 시, 불이익이 있을 수 있습니다. <br>
    4. <a href="{% url 'mypage' %}" class="b_text">마이 페이지</a>에서 '답변한 질문' 목록을 확인할 수 있습니다. <br>
    5. 댓글 기능을 통해 멘티의 추가질문에 대한 답변을 할 수 있습니다. 추가질문 답변을 통해 후배가 더 잘 이해할 수 있겠죠? <br>
    </div>
</div>

{% endblock %}
