{% extends 'main_base.html' %} {% block content %} {% load static %}
<div class="xl_title h_font cate_title">질문</div>
<div class="detail_container">
	<div class="subject m_text s_color">
		{% if post.subjects == 'computing' %} 컴퓨팅 사고력 
		{% elif post.subjects == 'basicC' %} C언어 기초 
		{% elif post.subjects == 'GC' %} 고급응용 C프로그래밍 
		{% elif post.subjects == 'basicEngineering' %} 기초공학설계 
		{% elif post.subjects == 'univMath' %} 대학수학 
		{% elif post.subjects == 'principlesodEconomics1' %} 경제학원론1 
		{% elif post.subjects == 'principlesodEconomics2' %} 경제학원론2
		{% endif %} 
		<div class="coffee s_text">
			{% if user.is_mento %} 이 질문을 통해 얻을 수 있는 커피 
			{% else %} 이 질문에 사용된 커피 
			{% endif %}
			<span class="b_text m_text h_font h_color"> {{ post.coffee }}잔</span>
		</div>
	</div>
	<div class="l_title q_title">Q. {{ post.title }}</div>
	<div class="q_content">
		{{ post.body}} 
		{% if post.file %}
		<img src="{{post.file.url}}" />
		<!-- 이미지 다운: <a href="{{ post.file.url }}" download>{{ post.file.name }}</a> -->
		{% endif %}
	</div>
	<div class="content_detail">
		<div class="date s_text s_color">
			{% if post.pub_date %} 
				{{ post.pub_date | date:"Y-m-d"}} | {{ post.pub_date | timesince }}전 
			{% endif %}</div>
		<!-- 질문자가 답변이 없을 때만 질문 수정/삭제 가능-->
		{% if user == post.writer and answer_count == 0 %}
		<div class="content_editor m_text b_text">
			<a href="{% url 'edit' index=post.pk %}">수정하기</a>
			<a href="{% url 'delete' pk=post.pk %}">삭제하기</a>
		</div>
		{% endif %}
	</div>
</div>

<!--답변 목록---------------------------------------------------------------------------->
<!-- 질문자, 답변자만 볼 수 있음-->
{% if user == post.writer or user == post.respondent %}
<div class="xl_title h_font cate_title">답변</div>
	{% for answer in answer_list %}
	<div class="detail_container">
		<div class="answer_container">
			<div class="l_title q_title">{{answer.writer}}멘토</div>
			<div class="q_content">{{ answer.body}}</div>
			<div class="date s_text s_color">{{ post.pub_date | date:"Y-m-d"}} | {{ post.pub_date | timesince }}전</div>
			{% if answer.file %}
			<img src="{{ answer.file.url }}" />
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% elif answer_count %}
	<div>답변이 달린 질문입니다. 답변은 질문자와 답변자만 볼 수 있습니다.</div>
{% endif %} 

<!--답변 하기---------------------------------------------------------------------------->
<!-- 이미 답변이 달린 경우 또 할 수 없음-->
{% if answer_count == 0 %}
	<!-- 해당 과목 멘토 자격있는 사람만 답변 달 수 있음-->
	<!------------------ 컴퓨팅 사고력 ------------------>
	{% if post.subjects == 'computing' and user.mento_computing %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ C언어 기초 ------------------>
	{% elif post.subjects == 'basicC' and user.mento_basicC %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ 고급응용 C프로그래밍 ------------------>
	{% elif post.subjects == 'GC' and user.mento_GC %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ 기초공학설계 ------------------>
	{% elif post.subjects == 'basicEngineering' and user.mento_basicEngineering %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ 대학수학 ------------------>
	{% elif post.subjects == 'univMath' and user.mento_univMath %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ 경제학원론1 ------------------>
	{% elif post.subjects == 'principlesodEconomics1' and user.mento_principlesodEconomics1 %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	<!------------------ 경제학원론2 ------------------>
	{% elif post.subjects == 'principlesodEconomics2' and user.mento_principlesodEconomics2 %}
	<div class="xl_title h_font cate_title">답변하기</div>
	<div class="detail_container">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<textarea class="answer_content" placeholder="하나. 답변에 아래 2개는 꼭 포함시켜주세요!&#13 1)멘티가 문제 풀면서 진행한 부분 중 실수하거나 누락된 사항&#13 2)질문자 문제 해결을 위해 필요한 필수 개념이나 공식에 대한 설명 &#13둘.  멘티가 추가질문을 달면 대댓글로 답변을 해주세요!  &#13셋.  멘티의 입장에서 최대한 모든 중간 과정을 포함시켜 설명해주세요!"name="body" cols="40" rows="10" required="" id="id_body"></textarea>
			<div class="file_n_guide">
				<div class="file_wrapper">
					<input type="file" name="file" id="id_file" />
				</div>	
				<div class="s_color m_text guide">
					※ <span class="m_text h_color"><a href="https://www.notion.so/5f8f7d0770354e1e8e40bcfa30d0c682">답변 가이드라인</a></span>을 지켜서 작성해주세요 :)
				</div>	
			</div>
			<div class="btn_wrapper">
				<button type="submit" class="btn sign_btn w_color">답변 달기</button>
			</div>
			<input class="none" type="text" name="points" value="{{post.coffee}}" readonly >
		</form>
	</div>
	{% endif %}
<!-- 답변이 달린 경우: 추가대화 생성------------------------------------------------------------>
{% else %} 
	<!-- 질문자와 답변자만 추가 대화 나눌 수 있음 -->
	{% if user == post.writer or user == post.respondent %}
	<div class="xl_title h_font cate_title">추가 대화 나누기</div>
	<div class="detail_container">
		<form method="POST">
			{% csrf_token %}
			<div class="comment_container">
				<input type="text" name="text" class="comment" />
				<div class="btn_wrapper">
					<button type="submit" class="m_text b_text">댓글 달기</button>
				</div>
			</div>
		</form>
		{% for comment in comment_list %}
		<div class="comment_box">
			<div class="writer h_font h_color b_text">{{ comment.writer }}</div>
			<div class="comment_content">
				<div class="comment_text">{{ comment.text}}</div>
				<div class="comment_detail">
					<span class="date s_text s_color">{{ comment.created_date | timesince}}</span>
					{% if user == comment.writer %}
					<a class="m_text b_text" href="{% url 'delete_comment' pk=post.pk comment_pk=comment.pk %}">삭제</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<!-- 댓글(추가대화 endif)-->
	{% endif %} 
<!-- 답변 카운트 -->
{% endif %} 

{% endblock %}
