{% extends 'main_base.html' %} {% block content %} {% load static %} 
{% if user.is_authenticated %}
<div class="payment_check_container">
    <div class="title">
        <div class="page_title">포인트 이용 내역</div>
        <div class="current_point b_text">
            <span class="xl_title h_color h_font">{{ user.point }}</span>P    
        </div>
    </div>
    <table>
        <th class="date">날짜</th>
        <th>내역</th>
        <th class="point">포인트</th>
        <th class="state">상태</th>
        {% for payment_check in payment_check_list %}
        {% if payment_check.point_user == user %}
        <tr>
            <td class="date s_color">
                {{ payment_check.pub_date | date:"Y.m.d f"}}
            </td>
            {% if payment_check.post %} 
                <td>
                    {% if user.is_mento %}
                        답변하기 | <a class="b_text" href="{% url 'detail' pk=payment_check.post.pk %}">{{ payment_check.post.title }}</a>
                    {% else %}
                        질문하기 | <a class="b_text" href="{% url 'detail' pk=payment_check.post.pk %}">{{ payment_check.post.title }}</a>
                    {% endif %}
                </td>
                <td class="point">
                    <span class="h_color b_text">{{ payment_check.points }}</span><span class="b_text">P</span> 
                    {% if user.is_mento %}
                        획득
                    {% else %}
                        사용 
                    {% endif %}
                </td>
                <td class="state">
                    승인
                </td>
            {% else %}
                <td>
                    포인트 충전
                </td> 
                <td class="point">
                    <span class="h_color b_text">{{ payment_check.points }}</span></span><span class="b_text">P</span> 충전 
                </td>
                <td class="state">
                    {% if payment_check.approve %} 입금 확인 
                    {% else %} 입금 확인 중 
                    {% endif %} 
                </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %} 
    </table>

</div>
{% endif %}
{% endblock %}
