{% extends 'main_base.html' %} {% block content %} {% load static %} 
{% if user.is_authenticated %}
<div class="payment_check_container">
    <div class="title">
        <div class="page_title">포인트 이용 내역</div>
        <div class="current_point b_text">
            <span class="xl_title h_color h_font">{{ user.point }}</span>P    
        </div>
    </div>
    <table>
        <th class="date">날짜</th>
        <th>내역</th>
        <th class="point">포인트</th>
        <th class="state">상태</th>
        {% for payment_check in payment_check_list %}
        {% if payment_check.point_user == user %}
        <tr>
            <td class="date s_color">
                {{ payment_check.pub_date | date:"Y.m.d f"}}
            </td>
            {% if payment_check.post %} 
                <td>
                    {% if user.is_mento %}
                        답변하기 | <a class="b_text" href="{% url 'detail' pk=payment_check.post.pk %}">{{ payment_check.post.title }}</a>
                    {% else %}
                        질문하기 | <a class="b_text" href="{% url 'detail' pk=payment_check.post.pk %}">{{ payment_check.post.title }}</a>
                    {% endif %}
                </td>
                <td class="point">
                    <span class="h_color b_text">{{ payment_check.points }}</span><span class="b_text">P</span> 
                    {% if user.is_mento %}
                        획득
                    {% else %}
                        사용 
                    {% endif %}
                </td>
                <td class="state">
                    완료
                </td>
            {% else %}
                <td>
                    {% if user.is_mento %}
                        포인트 전환 | {{ payment_check.bank }} {{ payment_check.account_num }}
                    {% else %}
                        포인트 충전
                    {% endif %}
                </td> 
                <td class="point">
                    <span class="h_color b_text">{{ payment_check.points }}</span></span><span class="b_text">P</span>
                    {% if user.is_mento %}
                        전환 
                    {% else %}
                        충전 
                    {% endif %}
                </td>
                <td class="state">
                    {% if payment_check.approve %} 완료
                    {% else %} 
                        {% if user.is_mento %} 입금 진행 중 {% else %} 입금 확인 중 {% endif %}
                    {% endif %} 
                </td>
            {% endif %}
        </tr>
        {% endif %}
        {% endfor %} 

    </table>
    <div class="b_text pages">
        {% if posts_list %} 
        <div>
            <a {% if posts_list.has_previous %} href='?page={{posts_list.number|add:-1}}' {% else %} class="s_color" {% endif %}>이전페이지</a> 
        </div>
        <div>
            {{ posts_list.number }} / {{ posts_list.paginator.num_pages }} <br>
        </div>
        <div>
            <a {% if posts_list.has_next %} href='?page={{posts_list.number|add:+1}}' {% else %} class="s_color" {% endif %}>다음페이지</a> 
        </div>
        {% endif %}
    </div>
</div>
{% endif %}
{% endblock %}
